.wrapper {
	width:100%; 
	max-width:2000px; 
	margin:auto; 
	overflow:hidden; 
}

body{
	background: #ffffff;
	text-align: justify;
	font-family: serif;
	width-max: 2000px;
ESTE ES EL DEL FONDO
}


//!Navegador¡//


nav {
	background:#528fd5;
	margin-top:20px;
	position: relative;
	margin: auto;
}


nav > ul > li{
	float: left;
}

nav ul{
	list-style: none;
	padding: 10px;
	overflow: hidden;
}

nav ul li a{
	display: block;
	color:#fff;
	text-decoration: none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	text-align: left;
}



nav a:hover {
	text-decoration:none;
	background: white;
	border-radius:50px;
	color: #0EA151;

}

nav > ul > li div {
	display: none;
}

nav > ul > li:hover div{
	display: table;
}


nav ul li div ul{
	display: table-cell;
}
 


.fixed-top{
	width:100%;
	overflow:hidden;
	background:#0EA151;
	margin-bottom:20px;
}


//!Fin navegador¡//
 

h5{
	color: black;
	background:#0EA151;
}


hr{
	background: teal;
	border: 3;
}

.amarilo{
	background: #FFC90D;
}

.cafe{
	background:#0EA151;
	border-top: 1px solid white;	
	border-bottom: 1px solid white;
}


p{
	color: black;
}

footer{
	background:#0EA151;
    color: white;
    width: 100%;
}

.rg{
	padding-right: 10px;
	padding-left: 10px;
}

.blanco{
	background: white;
	padding: 10px 10px 10px 10px; 
}


.c{
	color: white;
	font-size: 20px;
}

ul{
	list-style: none;
}

span{
	padding: 5px 5px 5px 5px;
}

.white{
	background: white;
	margin: 10px 60px 0px 60px;
	padding: 10px 10px 10px 10px;
	border: 3px solid #200B00;
}

.bot{
    background: #200B00;
    width: 200px;
    height: 50px;
    border: 1px white solid;
    border-radius: 50px;
}

.bot:hover{
    background: white;
    color: #200B00;
    text-decoration: none;
}

.Precio{
    color: white;
    text-decoration: none;
}

.Precio:hover{
    color: #200B00;
    text-decoration: none;
}

.mar{
	padding:10px 30px 10px 30px;
	font-size: 20px;
}

.imagen{
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0px;
}

.imagen:hover{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	transition: 0.2s linear 0.2s;
}
.cont{
    margin: 10px 10px 10px 25px;
}

.s{
    color: white;
}

.rec{
	margin: 10px 60px 10px 60px;
}

.titulo{
    color: #0EA151;
    margin-left: 20px;
}